@{
    ViewData["Title"] = "About";
}

<link rel="stylesheet" href="/css/about.css" asp-append-version="true" />

<div class="header-container">
    <div class="hdr-container-left">
        <h1>Steve De Vera</h1>
        <h3>3rd Year IT Student &commat; UST</h3>
        <p>
            A 20-year-old <strong>Full Stack Developer</strong> at ByteVerse with
            <strong>21 years</strong> of coding experience.
        </p>
        <a href="mailto:steve.devera.cics@ust.edu.ph" class="btn">Schedule a Meeting</a>
    </div>
    <div class="hdr-container-right">
        <img src="/avatar.jpg" alt="Avatar">
    </div>
</div>