@{
    ViewData["Title"] = "Student";
}

@{
    string FirstName = "Steve";
    string LastName = "De Vera";
    DateTime Birthday = DateTime.Parse("01/30/2003");
    DateTime Date = DateTime.Now;
    int Age = Date.Year - Birthday.Year;
    string Email = "steve.devera.cics@ust.edu.ph";
    string Username = Email.Split('@')[0];
    string Domain = Email.Split('@')[1];
}

<div class="text-center">
    <h1 class="display-4">Welcome to Student Page...</h1>
    <br />
    <br />
    <p>My name is @FirstName @LastName and I'm @Age years old.</p>
    <p><b>Email: </b> @Email</p>
    <p><b>Domain: </b> @Domain</p>
    <p><b>Username: </b> @Username</p>
</div>

<style>
    body{
        background: #121212;
    }

    h1, p{
        color: white;
    }
</style>